{% extends "base.html" %}
{% load static %}
{% load format_thousands %}
{% block first-section %}
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{{ bouquet.photo.url }}" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.name }}</div>
					<div class="card__block_price">{{ bouquet.price|floatformat:'0'|format_thousands }} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							{% for bouquet_item in bouquet_items %}
							<span class="card_items_intro">
								{{ bouquet_item.item }} - {{ bouquet_item.count }} шт.
							</span>
							{% endfor %}
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								Высота - {{ bouquet.height_cm }} см
							</span>
							<span class="card_items_intro">
								Ширина - {{ bouquet.width_cm }} см
							</span>
						</div>
					</div>
					<button class="btn largeBtn card__btn">Заказать букет</button>
				</div>
			</div>
		</div>
	</section>
{% endblock first-section %}
{% block contacts %}{% endblock contacts %}
