{% extends "base.html" %}
{% load static %}
{% block first-section %}
<section id="quiz">
  <div class="container">
    <div class="quiz">
      <div class="quiz__back ">
        <a href="{% if step == 1 %}{% url 'index' %}{% else %}{% url 'quiz' %}{% endif %}"
           class="quiz__back_link fic"><img src="{% static 'img/arrow-left.svg' %}"
                                            alt="arrow-left"
                                            class="arrowLeft">
          <span class="quiz__back_intro">Назад</span></a>
      </div>
      {% if step == 1 %}
      <div class="quiz__block">
        <h1 class="quiz__title">К какому событию нужен букет?</h1>
        <div class="quiz__elems fic">
          {% for event in events %}
          <form action="{% url 'quiz' %}">
            <button class="quiz__elem" name="event" value="{{ event.id }}">{{ event.name }}</button>
            <input type="hidden" name="custom" value="false"/>
          </form>
          {% endfor %}
          <form action="{% url 'quiz' %}">
            <button class="quiz__elem" name="event" value="other">Другое</button>
            <input type="hidden" name="custom" value="true"/>
          </form>
        </div>
        <div class="quiz__progress">
          <div class="quiz__progress_step">
            <span class="quiz__progress_num">1</span>
            <span class="quiz__progress_in"> шаг из </span>
            <span class="quiz__progress_num">2</span>
          </div>
          <div class="quiz__progress_line">
            <div class="quiz__progress_lineActive"></div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="quiz__block">
        {% if custom %}
        <h1 class="quiz__title">Укажите бюджет и введите данные для консультации</h1>
        <div class="quiz__elems_sec fic">
          <form action="{{ anchor }}" method="get">
            <button class="quiz__elem" type="submit" name="price" value="0-1000">До 1 000 руб</button>
            <button class="quiz__elem" type="submit" name="price" value="1000-5000">1 000 - 5 000 руб</button>
            <button class="quiz__elem" type="submit" name="price" value="5000-999999999">от 5 000 руб</button>
            <button class="quiz__elem" type="submit" name="price" value="0-999999999">Не имеет значения</button>
            <br>
            <br>
            {% for field in form %}
            {{ field }}
            {% endfor %}
            {% if form.errors %}
            <ul>
              {% for field in form %}
              {% for error in field.errors %}
              <li>{{ error|escape }}</li>
              {% endfor %}
              {% endfor %}
            </ul>
            {% endif %}
            <input type="hidden" name="custom" value="{{ custom }}"/>
          </form>
        </div>
        {% else %}
        <h1 class="quiz__title">На какой бюджет рассчитываете?</h1>
        <div class="quiz__elems fic">
          <form>
            <button class="quiz__elem" type="submit" name="price" value="0-1000">До 1 000 руб</button>
            <input type="hidden" name="event" value="{{ event }}"/>
            <input type="hidden" name="custom" value="{{ custom }}"/>
          </form>
          <form>
            <button class="quiz__elem" type="submit" name="price" value="1000-5000">1 000 - 5 000 руб</button>
            <input type="hidden" name="event" value="{{ event }}"/>
            <input type="hidden" name="custom" value="{{ custom }}"/>
          </form>
          <form>
            <button class="quiz__elem" type="submit" name="price" value="5000-999999999">от 5 000 руб</button>
            <input type="hidden" name="event" value="{{ event }}"/>
            <input type="hidden" name="custom" value="{{ custom }}"/>
          </form>
          <form>
            <button class="quiz__elem" type="submit" name="price" value="0-999999999">Не имеет значения</button>
            <input type="hidden" name="event" value="{{ event }}"/>
            <input type="hidden" name="custom" value="{{ custom }}"/>
          </form>
        </div>
        {% endif %}
        <div class="quiz__progress">
          <div class="quiz__progress_step">
            <span class="quiz__progress_num">2</span>
            <span class="quiz__progress_in"> шаг из </span>
            <span class="quiz__progress_num">2</span>
          </div>
          <div class="quiz__progress_line">
            <div class="quiz__progress_lineActive2"></div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endblock first-section %}
{% block contacts %}{% endblock contacts %}
{% block consultation %}{% endblock consultation %}
{% block footer %}{% endblock footer %}